<div class="container">
  <div class="product-search">
    <div class="form-group">
      <div class="search-row">
        <label class="col">Cod. Barra
          <input class="form-control" type="text" [(ngModel)]="codBarra" (keydown)="buscar()"/>
        </label>
        <label class="col">Nombre
          <input class="form-control" type="text" [(ngModel)]="search" (keydown)="buscar()"/>
        </label>
        <button (click)="buscarProducto()">Buscar</button>
      </div>
    </div>

    <table>
      <thead>
        <tr>
          <th class="name">ID</th>
          <th class="name">NOMBRE</th>
          <th class="conposision">FECHA</th>        
          <th class="ubic">UBIC.</th>
          <th class="ubic">PRES.</th>
          <th class="ubic">U.M</th>
          <th class="ubic">LAB.</th>
          <th class="pv">P.U.</th>
          <th class="pv">P.B.</th>
          <th class="pv">P.C.</th>
          <th class="stock">STOCK</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let producto of prod" (click)="agregarProducto(producto)" style="cursor: pointer;">
          <td>{{producto.idproducto}}</td>
          <td>{{producto.nombre}}</td>
          <td>{{producto.vencimiento}}</td>
          
          <td>{{producto.ubicacion}}</td>
          <td>{{producto.presentacion.nombrepresentacion}}</td>
          <td>{{producto.unidadMedida.nombreunidad}}</td>
          <td>{{producto.laboratorio.nombrelaboratorio}}</td>
          <td>{{producto.precioventa}}</td>
          <td>{{producto.precioblister}}</td>
          <td>{{producto.preciocaja}}</td>
          <td class="stock">{{producto.stock}}</td>
        </tr>
      </tbody>
    </table>
  </div>
<hr style="border: 2px solid rgb(255, 0, 0);">
  <div class="purchase-detail">
    <h2>Detalle de Compra</h2>

    <!-- Purchase Form -->
    <div class="row">
      <div class="form-group col">
       <!-- <label>Proveedor</label>-->
        <select class="form-control" [(ngModel)]="selectedProveedor">
          <option [ngValue]="null" >Seleccionar proveedor</option>
          <option  *ngFor="let proveedor of proveedores" [ngValue]="proveedor">
            {{proveedor.persona.nombre}}
          </option>
        </select>
      </div>

      <div class="form-group col">
       <!-- <label>Comprobante</label>-->
        <select class="form-control" [(ngModel)]="selectedComprobante">
          <option [ngValue]="null">Seleccionar comprobante</option>
          <option *ngFor="let comprobante of comprobantes" [ngValue]="comprobante">
            {{comprobante.nombrecomprobante}}
          </option>
        </select>
      </div>

      <div class="form-group col">
        <!--<label>Empleado</label>-->
        <select class="form-control" [(ngModel)]="selectedEmpleado">
          <option [ngValue]="null">Seleccionar empleado</option>
          <option *ngFor="let empleado of empleados" [ngValue]="empleado">
            {{empleado.persona.nombre}} 
          </option>
        </select>
      </div>
      <div class="form-group col">
        <!--<label>Serie</label>-->
        <input type="text" class="form-control" [(ngModel)]="serie" placeholder="A-1">
      </div>

      <div class="form-group col">
        <!--<label>Correlativo</label>-->
        <input type="text" class="form-control" [(ngModel)]="correlativo" placeholder="000001">
      </div>

      <div class="form-group col">
        <!--<label>Fecha</label>-->
        <input type="date" class="form-control w-60" [(ngModel)]="fechaCompra">
      </div>

    </div>

    

    <table>
      <thead>
        <tr>
          <th class="id">ID</th>
          <th class="name">NOMBRE</th>
          <th class="ubic">PRES.</th>
          <th class="ubic">U.M</th>
          <th class="prec">P.COMPRA</th>
          <th class="stock">UNIDADES</th>
          <th class="stock">SUB TOTAL</th>
          <th class="center">OPCIONES</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of prodDetalle; let i = index">
          <td>{{item.idproducto}}</td>
          <td>{{item.nombre}}</td>
          <td>{{item.presentacion.nombrepresentacion}}</td>
          <td>{{item.unidadMedida.nombreunidad}}</td>
          <td>{{item.preciocompra}}</td>
          <td style="text-align: center;">{{item.cantidadLlevar}}</td>
          <td style="text-align: center;">{{item.subTotal | currency:'PEN':'S/ ':'1.2-2'}}</td>
          <td><button (click)="eliminarProducto(i)" class="btn-eliminar">Eliminar</button></td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="6" style="text-align: right;"><strong>Total:</strong></td>
          <td style="text-align: center;">{{totalCompra | currency:'PEN':'S/ ':'1.2-2'}}</td>
          <td><button (click)="agregarProductosACompra()" class="btn-primary">Procesar</button></td>
        </tr>
      </tfoot>
    </table>

    <div class="actions">
      <button (click)="cancelarCompra()" class="btn-cancelar">Cancelar</button>
    </div>

    <div *ngIf="mensaje" [ngClass]="{'text-success': !error, 'text-danger': error}">
      {{mensaje}}
    </div>
  </div>
</div>
