.row{
    margin: 5px;
}
.id{
    text-align: left;
    width: 20px;
}
.name{
    width: 300px;
    text-align: left;
}
.conposision{
    width: 355px;
    text-align: left;
}
.vcto{
    width: 90px;
    text-align: left;
}
.ubic{
    width: 100px;
    text-align: left;
}
.stock{
    width: 100px;
    text-align: center;
}
.tbody{
    font-size: 13px;
    font-weight:normal;
}
.center{
    text-align: center;
}
.paginate{
    text-align: right;
}
.modal-modal{
    position: absolute;
    display: block;
    flex-direction: column;
    
    color: var(--bs-modal-color);
    pointer-events: auto;
    background-color: var(--bs-modal-bg);
    background-clip: padding-box;
    border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
    border-radius: var(--bs-modal-border-radius);
    outline: 0;
    padding-left: 200px;
}