
<div class="row">
    <label class="col">Cod. Barra
        <input class="form-control" type="text" [(ngModel)]="codBarra" (keydown)="buscar()"/>
    </label>
    <label class="col">Nombre
        <input class="form-control" type="text" [(ngModel)]="search" (keydown)="buscar()"/>
    </label>
    
    <div class="d-grid gap-2 d-md-flex justify-content-md-end mr-10">
      <button type="button" class="btn btn-primary"  (click)="vertodos(1)">Actualizar</button>  
      <!--<button  class="btn btn-primary"> <a href="./edit" class="nav-link">Nuevo Registro</a> </button>-->
      <button  class="btn btn-primary" routerLink="/add">Nuevo Registro</button>
    </div>
      
    
</div>

<table class="table table-striped table-sm responsive">
    <thead class="table-dark">
      <tr>
        <th class="id">
          <button class="btn btn-success btn-sm">
            <span title="id del producto">ID</span>
          </button>
        </th>
        <th class="name">NOMBRE</th>
        <th class="conposision">COMPOSISION</th>
        <th class="ubic">VCTO.</th>
        <th class="ubic">UBIC.</th>
        <th class="ubic">PRES.</th>
        <th class="ubic">U.M</th>
        <th class="ubic">LAB.</th>
        <th class="stock">STOCK</th>
        <th class="center">OPCIONES</th>
      </tr>
    </thead>
    <tbody class="tbody">
          <tr *ngFor="let producto of prod">
            <td>{{producto.idproducto}}</td>
            <td>{{producto.nombre}}</td>
            <td >{{producto.composicion}}</td>
            <td>{{producto.vencimiento}}</td>
            <td>{{producto.ubicacion}}</td>
            <td>{{producto.presentacion.nombrepresentacion}}</td>
            <td>{{producto.unidadMedida.nombreunidad}}</td>
            <td>{{producto.laboratorio.nombrelaboratorio}}</td>
            <td class="stock">{{producto.stock}}</td>
            <td class="center">
                <button class="btn btn-success btn-sm" routerLink="/edit/{{producto.idproducto}}">
                 <i class="nav-icon fas fa-edit"></i>
                                   
                </button>              
                <button class="btn btn-danger btn-sm" (click)="eliminarProducto(producto.idproducto)">
                    <i class="nav-icon fas fa-trash"></i>
                </button>
            </td>
          </tr>
        
  
    </tbody>
   
    <tfoot class="paginate">
        <tr>
            <td colspan="9" >
                <div>
                    <app-paginate (SendIndex)="onindexClic($event)"
                    [total]=total
                    [npage]=pages
                    />            
                </div>
                
            </td>
        </tr>        
    </tfoot>
</table>
