.modal-body {
  padding: 20px;
  text-align: center;
}

.price-selection .btn {
  margin-right: 10px;
}
.cantidadselect {
  margin-top: 15px;
  display: inline-block;
}
.quantity-selection .input-group {
  width: 150px;
}
.modal-header {
  background-color: #0c81f5;
  border-bottom: 1px solid #dee2e6;
  padding: 18px;
}
.modal-footer {
  border-top: 1px solid #dee2e6;
  padding: 18px;
  display: inline-block;
    text-align: center;
}