<section  class="home-banner-list-container no-spacing">
    <div _ngcontent-hed-c650="" class="row">
       
            <div _ngcontent-hed-c650="" class="banner col banner-responsive-grid col-12 col-lg ng-star-inserted">
                <div _ngcontent-hed-c650="" _nghost-hed-c512="" class="ng-star-inserted">
                    <div _ngcontent-hed-c512="" _nghost-hed-c508="" class="ng-star-inserted">
                        <section _ngcontent-hed-c508="" id="home-image-bar" class="home-banner-container animated-banner">
                            <div _ngcontent-hed-c508="" _nghost-hed-c196="" class="ng-star-inserted"><!---->
                                <a _ngcontent-hed-c196="" class="router-link ng-star-inserted" href="" target="_self">
                                    <div  class="">
                                        <img  class="img-fluid w-100 h-100 banner-image" alt="" src="./assets/dist/img/avatar3.png">
                                    </div ><!----><!---->
                                </a><!----><!----><!----><!---->
                            </div><!----><!----><!----><!----><!---->
                        </section>
                    </div><!----><!----><!----><!----><!----><!---->
                </div><!----><!----><!---->
            </div><!---->
            <div _ngcontent-hed-c650="" class="banner col banner-responsive-grid col-12 col-lg ng-star-inserted">
                <div _ngcontent-hed-c650="" _nghost-hed-c512="" class="ng-star-inserted">
                    <div _ngcontent-hed-c512="" _nghost-hed-c508="" class="ng-star-inserted">
                        <section _ngcontent-hed-c508="" id="home-image-bar" class="home-banner-container animated-banner">
                            <div _ngcontent-hed-c508="" _nghost-hed-c196="" class="ng-star-inserted"><!---->
                                <a _ngcontent-hed-c196="" class="router-link ng-star-inserted" href="" target="_self">
                                    <div  class="">
                                        <img  class="img-fluid w-100 h-100 banner-image" alt="" src="./assets/dist/img/avatar3.png">
                                    </div ><!----><!---->
                                </a><!----><!----><!----><!---->
                            </div><!----><!----><!----><!----><!---->
                        </section>
                    </div><!----><!----><!----><!----><!----><!---->
                </div><!----><!----><!---->
            </div><!---->
            <div _ngcontent-hed-c650="" class="banner col banner-responsive-grid col-12 col-lg ng-star-inserted">
                <div _ngcontent-hed-c650="" _nghost-hed-c512="" class="ng-star-inserted">
                    <div _ngcontent-hed-c512="" _nghost-hed-c508="" class="ng-star-inserted">
                        <section _ngcontent-hed-c508="" id="home-image-bar" class="home-banner-container animated-banner">
                            <div _ngcontent-hed-c508="" _nghost-hed-c196="" class="ng-star-inserted"><!---->
                                <a _ngcontent-hed-c196="" class="router-link ng-star-inserted" href="" target="_self">
                                    <div  class="">
                                        <img  class="img-fluid w-100 h-100 banner-image" alt="" src="./assets/dist/img/avatar3.png">
                                    </div ><!----><!---->
                                </a><!----><!----><!----><!---->
                            </div><!----><!----><!----><!----><!---->
                        </section>
                    </div><!----><!----><!----><!----><!----><!---->
                </div><!----><!----><!---->
            </div><!---->
            <div _ngcontent-hed-c650="" class="banner col banner-responsive-grid col-12 col-lg ng-star-inserted">
                <div _ngcontent-hed-c650="" _nghost-hed-c512="" class="ng-star-inserted">
                    <div _ngcontent-hed-c512="" _nghost-hed-c508="" class="ng-star-inserted">
                        <section _ngcontent-hed-c508="" id="home-image-bar" class="home-banner-container animated-banner">
                            <div _ngcontent-hed-c508="" _nghost-hed-c196="" class="ng-star-inserted"><!---->
                                <a _ngcontent-hed-c196="" class="router-link ng-star-inserted" href="" target="_self">
                                    <div  class="">
                                        <img  class="img-fluid w-100 h-100 banner-image" alt="" src="./assets/dist/img/avatar3.png">
                                    </div ><!----><!---->
                                </a><!----><!----><!----><!---->
                            </div><!----><!----><!----><!----><!---->
                        </section>
                    </div><!----><!----><!----><!----><!----><!---->
                </div><!----><!----><!---->
            </div><!---->
        
                  