<div class="container">
    
    
    <div class="product-search">
        
        <div class="form-group">
            
            <label class="col">Cod. Barra
            <input class="form-control" type="text" [(ngModel)]="codBarra" (keydown)="buscar()"/>
            </label>
            <label class="col">Nombre
                <input class="form-control" type="text" [(ngModel)]="search" (keydown)="buscar()"/>
            </label>
            <button (click)="buscarProducto()">Buscar</button>
        </div>
        
        <table>
            <thead>
                <tr>
                    
                    <th class="name">ID</th>
                    <th class="name">NOMBRE</th>
                    <th class="conposision">COMPOSISION</th>
                    <th class="ubic">VCTO.</th>
                    <th class="ubic">UBIC.</th>
                    <th class="ubic">PRES.</th>
                    <th class="ubic">U.M</th>
                    <th class="ubic">LAB.</th>
                    <th class="pv">P.V.</th>
                    <th class="pb">P.B</th>
                    <th class="pc">P.C</th>
                    <th class="stock">STOCK</th>
                    <th class="stock">LLEVAR</th>
                    <th class="center">OPCIONES</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let producto of prod">
                    <td>{{producto.idproducto}}</td>
                    <td>{{producto.nombre}}</td>
                    <td >{{producto.composicion}}</td>
                    <td>{{producto.vencimiento}}</td>
                    <td>{{producto.ubicacion}}</td>
                    <td>{{producto.presentacion.nombrepresentacion}}</td>
                    <td>{{producto.unidadMedida.nombreunidad}}</td>
                    <td>{{producto.laboratorio.nombrelaboratorio}}</td>
                    <td>{{producto.precioventa}}</td>
                    <td>{{producto.precioblister}}</td>
                    <td>{{producto.preciocaja}}</td>
                    <td class="stock">{{producto.stock}}</td>
                    <td>
                        <input
                            id="cantLlevar"
                            type="number"
                            [min]=1
                            [max]="producto.stock"
                            style="width: 50px;"
                            [(ngModel)]="producto.cantidadLlevar" >
                    </td>
                    <td><button (click)="agregarProducto(producto)">Agregar</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <div class="sale-detail">
        <h2>Detalle de Venta</h2>
        <table>
            <thead>
                <tr>
                    <th class="id">ID</th>
                    <th class="name">NOMBRE</th>
                  
                    <th class="ubic">VCTO.</th>
                    <th class="ubic">UBIC.</th>
                    <th class="ubic">PRES.</th>
                    <th class="ubic">U.M</th>
                    <th class="ubic">LAB.</th>
                    <th class="prec">P.VENTA</th>
                    <th class="stock">UNIDADES</th>
                    <th class="stock">SUB TOTAL</th>
                    <th class="center">OPCIONES</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of prodDetalle; let i = index">
                    <td>{{item.idproducto}}</td>
                    <td>{{item.nombre}}</td>
                   
                    <td>{{item.vencimiento }}</td>
                    <td>{{item.ubicacion}}</td>
                    <td>{{item.presentacion.nombrepresentacion}}</td>
                    <td>{{item.unidadMedida.nombreunidad}}</td>
                    <td>{{item.laboratorio.nombrelaboratorio}}</td>
                    <td>{{item.precioventa}}</td>
                    <td ><input type="number" value={{item.cantidadLlevar}} max="{{item.stock}}"></td>
                    <td style="text-align: center;">{{item.subTotal| currency:'PEN':'S/ ':'1.2-2' }}</td>
                    <td><button (click)="eliminarProducto(i)" class="btn-eliminar">Eliminar</button></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="9" style="text-align: right;"><strong>Total:</strong></td>
                    <td style="text-align: center;">{{totalVenta | currency:'PEN':'S/ ':'1.2-2' }}</td>
                    <td><button (click)="agregarProductosAVenta()" class="btn-primary">Procesar</button></td>
                </tr>
            </tfoot>
        </table>
    </div>
    
    <div class="actions">
        <!--<button (click)="finalizarVenta()">Finalizar Venta</button>-->
        <!--<button (click)="cancelarVenta()" class="btn-cancelar">Cancelar</button>-->
    </div>
</div>