<div class="modal-header">
  <h4 class="modal-title">{{ producto.nombre }}</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="dialogRef.close()"></button>
</div>
<div class="modal-body">
  <form>
    <div class="row">
      <div class="form-group col">
        <label>Cod. Barras:</label>
        <input type="text" class="form-control" [(ngModel)]="codigoBarra" name="codigoBarra">
      </div>
      <div class="form-group col">
        <label>Cantidad:</label>
        <div class="input-group">
          <button class="btn btn-outline-secondary" (click)="decrementQuantity()">-</button>
          <input type="number" class="form-control text-center" [(ngModel)]="cantidadComprar" name="cantidadComprar" min="1">
          <button class="btn btn-outline-secondary" (click)="incrementQuantity()">+</button>
        </div>
      </div>
      <div class="form-group col">
        <label>Ultimo P. de C:</label>
        <input type="number" class="form-control" [(ngModel)]="precioCompra" name="precioCompra" step="0.01">
      </div>
    </div>
    <div class="row">
      <div class="form-group col">
        <label>Precio Venta U.:</label>
        <input type="number" class="form-control" [(ngModel)]="precioVentaUnidad" name="precioVentaUnidad" step="0.01">
      </div>
      <div class="form-group col">
        <label>Precio Venta Blister:</label>
        <input type="number" class="form-control" [(ngModel)]="precioVentaBlister" name="precioVentaBlister" step="0.01">
      </div>
      <div class="form-group col">
        <label>Precio Venta Caja:</label>
        <input type="number" class="form-control" [(ngModel)]="precioVentaCaja" name="precioVentaCaja" step="0.01">
      </div>
    </div>
    <div class="row">
      <div class="form-group col">
        <label>Fecha de Vencimiento:</label>
        <input type="date" class="form-control" [(ngModel)]="fechaVencimiento" name="fechaVencimiento">
      </div>
      <div class="form-group col">
        <label>Ubicación:</label>
        <input type="text" class="form-control" [(ngModel)]="ubicacion" name="ubicacion">
      </div>
    </div>
    <div class="form-group">
      <label>Composición:</label>
      <textarea class="form-control" [(ngModel)]="composicion" name="composicion"></textarea>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="dialogRef.close()">Cancelar</button>
  <button type="button" class="btn btn-primary" (click)="addToPurchase()">Agregar a Compra</button>
</div>